Record { 
    display:table; 
    font-size:14px; 
    margin:8px; 
    font-family: Verdana; 
    width: 99%;
} 
data{ 
    display:table-row; 
    text-align:left; 
    border: 1px solid black; 
    background-color:lightcyan; 
} 
cell,header { 
    display: table-cell; 
    border: solid 1px; 
    width: 25%;
    background-color: rgb(168, 166, 166);
    text-align: center;
}
cell1{
    display: table-cell; 
    border: solid 1px; 
    width: 25%;
    background-color:gainsboro;
    text-align: center;
}
header{
    font-weight: bold;
    background-color: cornflowerblue;
    text-align: center;
}